%li
  .avatar= image_tag comment.user.avatar_url unless comment.user.nil?
  .comment
    .author
      = link_to comment.user.username, user_path(comment.user) unless comment.user.nil?
    = markdown_format(comment.comment)
    .timestamp
      = distance_of_time_in_words_to_now(comment.created_at)
      ago