
.comments-header.row
  .large-12.columns
    %h2 Comments
- if comments.present?
  .comments.row
    - comments.each do |comment|
      = render comment
- else
  .row
    %p.large-12.columns What are you waiting for? Start the discussion!