%h1=user.username

%p
  = link_to "Twitter Profile", user_twitter_link(user), :target => "_blank"

%h2 Platform Profiles

%ul
  - @platform_accounts.each do |account|
    %li
      %p #{account.platform.name}: #{account.username}