%h1=user.username

%ul
  - user.authentications.each do |authentication|
    %li
      %p= render partial: "authentications/#{authentication.provider}", locals: { username: authentication.nickname }

%h2 Platform Profiles

%ul
  - @platform_accounts.each do |account|
    %li
      %p #{account.platform.name}: #{account.username}