.grid-container
  %h1 Change your password
  = simple_form_for @user, url: {action: 'update_password'} do |f|
    = f.input :password, label: 'New Password'
    = f.input :password_confirmation
    = f.button :submit