.grid-container
  %h1 Editing user
  = render 'form'

<<<<<<< HEAD
  %nav.page-link
    = link_to 'View Profile', @user
=======
  %nav.page-links
    = link_to 'Show', @user
>>>>>>> Event detail page and main wrapper unsemantic and 80% width
    |
    = link_to 'Back', users_path