%section.events.grid-container
  = render @user

.user-details
  .grid-container

    - if @future_events.length > 0
      %h3 Future Events
      %section.events
        - @future_events.each do |event|
          = render event

      / .grid-100
    /   - if @past_events.length > 0
    /     %h3 Past Events
    /     - @past_events.each do |event|
    /       = render event

