/ Fav and touch icons
%link{ rel: "apple-touch-icon", type: 'image/png', sizes: "144x144", href: '/ico/apple-touch-icon-144x144.png' }
%link{ rel: "apple-touch-icon", type: 'image/png', sizes: "114x114", href: '/ico/apple-touch-icon-114x114.png' }
%link{ rel: "apple-touch-icon", type: 'image/png', sizes: "72x72", href: '/ico/apple-touch-icon-72x72.png' }
%link{ rel: "apple-touch-icon", type: 'image/png', href: '/ico/apple-touch-icon-57x57.png' }
%link{ rel: "shortcut icon", type: 'image/png', href: '/ico/favicon.png' }
%link{ rel: "shortcut icon", type: 'image/x-icon', href: '/ico/favicon.ico' }