%section.events-header.row
  .small-6.columns
    %h4
      All Clans
  / .small-6.columns
  /   %h4.text-right
  /     Subscribe via iCal
  /     = link_to content_tag(:i,'',class: 'block ss-alarmclock'), events_url(:protocol => 'webcal', :format => :ics, '' => Time.now.to_i)

%section.events
  - @clans.each do |clan|
    = render clan