%div.row.clan
  .large-10.columns
    %h1 [DUK] Duck.Duck.Goose
    %h2 - Motto Goes Here
  .large-2.columns
    %a.button Join

%div.row.clan
  .large-6.columns
    %p Clans
  .large-6.columns
    %a.button Join

%div.row.clan
  .large-12.columns
    %p Events