<div class="row">
  <div class="span12">
  <h2>What is NowPlay.us?</h2>

  <ul>
    <li>Feature 1</li>
    <li>Feature 2</li>
    <li>Feature 3</li>
    <li>Feature 4</li>
    <li>Feature 5</li>
  </ul>


  <h3>Some people playing soon....</h3>

  <ul>
    <li><a href="#">Mubs is playing tonight at 8pm</a></li>
    <li><a href="#">Mubs is playing tonight at 8pm</a></li>
    <li><a href="#">Mubs is playing tonight at 8pm</a></li>
    <li><a href="#">Mubs is playing tonight at 8pm</a></li>
    <li><a href="#">Mubs is playing tonight at 8pm</a></li>
  </ul>
  </div>
</div>