.grid-container
  #intro
    %h2
      What is now
      %span.highlight play
      us?
    %p
      Tired not being able to play your favorite multiplayer games because you can never get your friends* online at the same time? Use 
      %strong
        now
        %span.highlight play
        us
      to schedule your gameplay, and make sure you're all online at the right time.
    %p.footnote * or make new friends!
    %fieldset.callout
      - if current_user
        = link_to "Create an Event", new_event_path, class: 'callout-button'
      - else
        = link_to 'Login', '/auth/twitter', class: 'callout-button twitter'

    %h3
      Scheduled game events with now
      %span.highlight play
      us

  %section.events
    - @events.each do |event|
      = render event