.grid-container
  .grid-33
    %h3.aligncenter Organize

    %p.aligncenter
      Schedule a time to play your favorite multiplayer games today or in advance

  .grid-33
    %h3.aligncenter Promote

    %p.aligncenter
      Use your existing social network to promote your game and find other players

  .grid-33
    %h3.aligncenter Play

    %p.aligncenter
      Jump  online with your team and enjoy a great game!

#intro
  = image_tag("preview-slides.png")