.grid-container
<<<<<<< HEAD
  %h3
    Scheduled game events with now
    %span.highlight play
    us
    
=======
  #intro
    %h3
      Scheduled game events with now
      %span.highlight play
      us
>>>>>>> enhancement104-homepage-nav
  %section.events
    - @events.each do |event|
      = render event