.grid-container
  #intro
    - if !current_user
      = link_to 'Login', auth_at_provider_path(provider: :twitter), class: 'twitter-button'

    %h3 Scheduled game events with now<span class="highlight">play</span>us

  %section.events
    - @events.each do |event|
      = render event