%article.row.event{ class: (current_user == event.host ? 'mine' : 'theirs')}
  .small-2.large-1.columns.schedule= render partial: 'events/schedule', locals: { event: event }
  .small-8.columns.description= render partial: 'events/description', locals: { event: event }
  .small-2.large-1.columns.host.text-center= link_to image_tag(event.host_avatar_url), user_path(event.host), class: 'avatar'
  .small-hide.large-2.columns.quick-stats
    %ul.small-block-grid-2
      %li
        %h3
          %i.standard.ss-user
          .stat=event.total_players
      %li
        %h3
          %i.block.ss-chat
          .stat=event.comments.count