%article.row.event{ class: (current_user == event.host ? 'mine' : 'theirs')+" "+(new_date ? 'newdate': '')}
  .small-2.large-1.columns.schedule= render partial: 'events/event_host', locals: { event: event }
  .small-8.large-11.columns.description= render partial: 'events/description', locals: { event: event }
