- if @event.players.exists?(:id => current_user)
  = link_to content_tag(:i,'',class: 'block ss-deleteuser'), event_participant_path(@event), confirm: 'Are you sure?', method: :delete, class: 'button expand radius alert', title: 'Leave Game'
- else
  - if logged_in?
    = link_to content_tag(:i,'',class: 'block ss-adduser'), event_participants_path(@event), method: :post, class: 'button expand radius success', title: 'Join Game'
  - else
    = link_to content_tag(:i,'',class: 'block ss-power'), "/auth/twitter", method: :post, class: 'button expand radius success', title: 'Log In to Join'