- if @event.players.exists?(:id => current_user)
  = link_to "leave", event_participant_path(@event), confirm: 'Are you sure?', method: :delete, class: 'button-danger button mobile-grid-100'
- else
  = link_to "join in", event_participants_path(@event), method: :post, class: 'button-info button mobile-grid-100'