// Requires an @events collection
%h5 Recent Games
%ul.large-block-grid-4
  - events.each do |event|
    - if !event.game.nil?
      %li
        =link_to game_path(event.game) do
          - if event.game.icon_url
            %img.game{src: event.game.icon_url, title: event.game.name}
          - else
            %img.game{src: "/assets/lost-img.png", title: event.game.name}
          %p
            =event.game.name