=link_to content_tag(:i,'',class: 'foundicon-twitter'), (logged_in? ? '#' : '/auth/twitter'), class: 'button small radius expand', data: { reveal_id: "tweet-#{event.id}"}
- content_for :modals do
  .reveal-modal.xlarge{ id: "tweet-#{event.id}" }
    %h3 Tweet it!
    <a class="close-reveal-modal">&#215;</a>
    = render partial: 'tweets/form', locals: { tweet: EventTweet.new(user: current_user, event: event), event: event}