=link_to 'Tweet it!', (logged_in? ? "#tweet-#{event.id}" : '/auth/twitter'), class: 'modal-link promote hide-on-mobile'
.modal{ id: "tweet-#{event.id}" }
  .modal-inner
    %h3 Tweet it!
    = render partial: 'tweets/form', locals: { tweet: Tweet.new(user: current_user, event: event), event: event}