// Requires an events collection, and an optional user
.row
  .large-8.columns
    %section.events
      - last_date = nil
      - new_date = true
      - events.each do |event|
        - current_date = event.starts_at.midnight
        - if current_date != last_date
          - new_date = true
          %h3= event.humanize_start_date

        = render partial: 'event', locals: { event: event, new_date: new_date }

        - last_date = event.starts_at.midnight
        - new_date = false
      - if events.blank?
        .row
          .large-12.columns
            %p Uh oh, it looks there are no upcoming events.  How about you schedule one!
            #callout
              = link_to 'Create an Event', new_event_path, class: 'callout-button'

  .large-4-columns
    / %h3 Top Games
    / %h3 Top Gamers
