%section.events-header.row
  .large-12.columns
    %h4
      All Upcoming Games
    %p
      Subscribe via
      = link_to 'Ical', events_url(:protocol => 'webcal', :format => :ics, '' => Time.now.to_i)

%section.events.row
  - @events.each do |event|
    = render event
  - if @events.blank?
    .large-12.columns
      %p It looks like you don't have any scheduled game events.
      #callout
        = link_to 'Create an Event', new_event_path, class: 'callout-button'