- @ical_link = link_to content_tag(:i,'',class: 'block ss-alarmclock'), events_url(:protocol => 'webcal', :format => :ics, '' => Time.now.to_i)
= render 'events/upcoming_events', :events => @events, :ical_link => @ical_link