.promo
  %h1 Now Play Us: Sunday Slacker Contest
  %figure
    = image_tag("nowplayus-sundayslacker-contest.png")
    %figcaption
      Welcome to the Sunday Slacker kick off contest for Now Play Us. If you haven't heard of NPU, it's probably because we just launched this game scheduling service. 

      Contest Rules:
      %ul
        %li Join Now Play Us
        %li Host an event
        %li Get gamers to join event
        %li 
          Promote your events via Twitter and hashtag
          %a{ href: "https://twitter.com/search?q=%23NowPlayUs&src=hash", target: "_blank" }
            :plain
              #NowPlayUs

      Best promotion gamer wins:
      %ul
        %li MadGlory Apparel
        %li Gears of War Judgement Game
        %li Stickers
        %li Frosted Gamer Glass
        %li Surprise gift
        %li All in a Custom Ammo Box

      The contest closes at 11:59:59pm EST on March 3, 2013, so no rush... Who am I kidding?! It's a one day sprint contest! Hurry up!