.promo
  %h1 Now Play Us: Sunday Slacker Contest
  %figure
    = image_tag("nowplayus-sundayslacker-contest.png")
    %figcaption
      Welcome to the Sunday Slacker kick off contest for Now Play Us. If you haven't heard of NPU, it's probably because we just launched this game scheduling service at Startup Weekend.

    %p
      NPU is a simple social site that lets gamers schedule matches with friends, or find matches with random people. We just launched, so we wanted to get things rolling by giving away some stuff. We're also looking for lots of feedback, so give that "feedback" tab a click-ity clack!


      Contest Rules:
      %ul
        %li Join Now Play Us
        %li Host an event
        %li Get gamers to join event
        %li 
          Promote your events via Twitter and hashtag
          %a{ href: "https://twitter.com/search?q=%23NowPlayUs&src=hash", target: "_blank" }
            :plain
              #NowPlayUs
        %li Should follow 
          %a{ href: "https://twitter.com/nowplayus", target: "_blank"}
            :plain
              @nowplayus      
        %li Winner must be in the United States!

      Best promotion gamer wins:
      %ul
        %li Gears of War Judgement
        %li $100 Amazon Gift Card
        %li MadGlory Apparel
        %li Frosted Gamer Glass
        %li Stickers
        %li Surprise gift
        %li All in a Custom Ammo Box

      The contest closes at 11:59:59pm EST on March 3, 2013, so no rush... Who am I kidding?! It's a one day sprint contest! Hurry up!