.row.game-detail
  .large-6.columns
    %h2
      = @game.name
    %p
      = @game.deck.html_safe unless @game.deck.blank?

  .large-6.columns.pull
    =image_tag @game.screen_url unless @game.screen_url.blank?

.row
  .large-12.columns
    %h3 Upcoming Matches
    - if @upcoming_events.size > 0
      %section.events
        - @upcoming_events.each do |event|
          = render event

    - else
      %p
        No upcoming matches.
        = link_to "Create a match now", new_event_path

