.grid-container
  .grid-100
    %h2
      = @game.name

    %hr
    =image_tag @game.screen_url unless @game.screen_url.blank?
    %p
      = @game.deck.html_safe unless @game.deck.blank?

    - if @upcoming_events.size > 0
      %h2 Upcoming Matches

    %section.events.grid-100
      - @upcoming_events.each do |event|
        = render event

    %h2 Game Description

    .game-details
      =Sanitize.clean(@game.description, :elements => ['h2', 'h3', 'h4',  'p', 'img', 'ul', 'li','table', 'tr', 'td', 'thead'], :attributes => {'img' => ['width', 'height', 'src', 'title', 'alt'], 'a' => ['href', 'title'], 'span' => ['class']}, :protocols => {'a' => {'href' => ['http', 'https', 'mailto']}}).html_safe unless @game.description.blank?

      %small Game Descriptions provided by <a target="_blank" href="http://www.giantbomb.com">Giant Bomb</a>.
