/*
 *= require_self
 *= require_tree .
 */

@import "variables";

@import "unsemantic";
@import "forms";

body {
	margin: 0;
	padding: 0;
	background-color: $background-color;
	color: #333;
	font: normal 62.5%/1.5 'Maven Pro', Verdana, Arial, sans-serif;

	a {
		color: #08c;
		text-decoration: none;

		&:hover {
			color: #005580;
			text-decoration: underline;
		}
	}

	p {
		font-size: 1.6em;
	}

	h1, h2, h3 {
		 margin-bottom: 0;
		 font-weight: 700;
	}
	h1 { font-size: 3em; }
	h2 { font-size: 2.8em; }
	h3 { font-size: 2.4em; }

	fieldset {
		border: none;
	}
}

header {
	padding: 1em 0;
	background-color: #000;
	background-color:#1b1b1b;
	background-image:-moz-linear-gradient(top, #222, #111);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#222), to(#111));
	background-image:-webkit-linear-gradient(top, #222, #111);
	background-image:-o-linear-gradient(top, #222, #111);
	background-image:linear-gradient(to bottom, #222, #111);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF222222', endColorstr='#FF111111', GradientType=0);
	border-color:#252525;

	a {
		color: #777;
		text-decoration: none;

		&:hover {
			color: #fff;
		}
	}

	ul {
		margin: 0;
		height: 2.3em;

		li {
			display: inline-block;
			font-size: 1.4em;
		}
	}

	#logo {
		display: block;
		height: 23px;
		text-indent: -9999px;
		background: transparent url(now-play-us-logo.png) no-repeat 10px 0;
	}

	#main-menu {
		text-align: right;

		li {
			margin-left: 1em;
		}
	}
}

#banner {
	margin-bottom: 2em;
	background: url("header-bg.jpg") repeat-x 0px 0px;
	height: 292px;

	h2 {
		margin: 0;
		font-weight: normal;
		font-size: 4.8em;
		line-height: 1.5;
		color: #fff;
	}
}

#main {
	min-height: 60em;
}

#intro {
	padding-top: 8em;
	text-align: center;

	h3 {
		margin-top: 4em;
	}
}

.wrapper {
	margin: 0 auto;
	width: 80%;
}

.footnote {
	font-size: 1.2em;
	font-style: italic;
}

nav.page-links {
	margin-top: 1.42857143em;
	font-size: 1.4em;
	text-align: center;
}
	nav.page-links .button {
		font-size: 100%;
	}
	nav.page-links .button:hover {
		color: #fff;
		text-decoration: none;
	}

span.highlight {
	color: #72bae4;
}

.previous-page {
	display: block;
	width: 50px;
	height: 50px;
	background: transparent url(previous-icon.png) no-repeat 50% 0;
	text-indent: -9999px;
}

.twitter-button {
	padding: .5em 3em .5em 1.5em;

	color: #4283a9;
	font-size: 2.4em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
	border-radius: 40px;
	border: 10px solid #efefef;
	


	background: #83c2e7; /* Old browsers */
	background-image: url(twitter-button-icon.png), -moz-linear-gradient(top,  #83c2e7 0%, #64a4c9 100%); /* FF3.6+ */
	background-image: url(twitter-button-icon.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#83c2e7), color-stop(100%,#64a4c9)); /* Chrome,Safari4+ */
	background-image: url(twitter-button-icon.png), -webkit-linear-gradient(top,  #83c2e7 0%,#64a4c9 100%); /* Chrome10+,Safari5.1+ */
	background-image: url(twitter-button-icon.png), -o-linear-gradient(top,  #83c2e7 0%,#64a4c9 100%); /* Opera 11.10+ */
	background-image: url(twitter-button-icon.png), -ms-linear-gradient(top,  #83c2e7 0%,#64a4c9 100%); /* IE10+ */
	background-image: url(twitter-button-icon.png), linear-gradient(to bottom,  #83c2e7 0%,#64a4c9 100%); /* W3C */
	background-repeat: no-repeat, repeat;
	background-position: 105px 16px, 0 0;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#83c2e7', endColorstr='#64a4c9',GradientType=0 ); /* IE6-9 */
	-moz-background-clip: padding, padding;     /* Firefox 3.6 */
	-webkit-background-clip: padding, padding;  /* Safari 4? Chrome 6? */
	background-clip: padding-box, padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
}
	.twitter-button:hover {
		text-decoration: none;
	}

.alert {
	padding: 1.428571429em;
	font-size: 1.4em;
}
	.alert-success {
		color: #468847;
		background-color: #dff0d8;
		border-color: #d6e9c6;
	}

.alert{
	padding: 1.428571429em;
	font-size: 1.4em;
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
}

	.alert,
	.alert h4{
		color:#c09853;
	}
	.alert h4{
		margin:0;
	}
	.alert .close{
		position:relative;
		top:-2px;
		right:-21px;
		line-height:20px
	}

	.alert-success{
		color:#468847;
		background-color:#dff0d8;
		border-color:#d6e9c6;

		h4 {
			color:#468847;
		}
	}
	.alert-success .alert-danger,
	.alert-error {
		color:#b94a48;
		background-color:#f2dede;
		border-color:#eed3d7;
	}
	.alert-danger h4,
	.alert-error h4 {
		color:#b94a48;
	}
	.alert-info{
		color:#3a87ad;
		background-color:#d9edf7;
		border-color: #bce8f1;

		h4 {
			color:#3a87ad;
		}
	}

footer {
	margin-top: 2em;
	border-top: 1px solid #bbbbbb;
	padding: 1.5;
	bottom: 0;
}

@media (max-width: 60em) {
	.wrapper {
		width: 100%;
	}

	#intro {
		padding-top: 4em;

		h3 {
			margin-top: 2em;
		}
	}
	
	#banner { 
		height: 219px;

		h2 {
			font-size: 3em;
		}
	}

	#main {
		min-height: inherit;
	}

	.previous-page {
		width: 40px;
		height: 40px;
		background-size: 40px;
	}
}