/*
 *= require_self
 *= require_tree .
 */

@import "bootstrap";
@import "bootstrap-responsive";
@import "variables";

body {
	padding-top: 30px;
	background-color: $background-color;
	color: #333;
	font-family: Maven Pro, sans-serif;
	font-size: 13px;
	line-height: 18px;
	#main {
		margin-top: 11px;
	}

}

.index {
	background: url("header-bg.jpg") repeat-x 0px 0px;
	height: 292px;
}

h1 {
	font-family: 'Maven Pro', sans-serif;
	font-size: 30px;
	line-height: 35px;
	font-weight: 700;
}

h2.home {
	color: white;
	font-weight: 100;
	font-size: 48px;
	line-height: 58px;
}

h2.home span {
	color: #72bae4;
}

a.brand {
	background: url("now-play-us-logo.png") no-repeat 20px 08px;
	text-indent: -9999px;
	width: 118px;
}

li {
	list-style-type: none;
}

.input {
	margin-bottom: 2em;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
 .uneditable-input {
	padding: 12px;
	margin: 0;
	border: 1px solid #CFCDC4;
	width: 100%;
}

label {
	
}

footer {
	margin-top: 20px;
	border-top: 1px solid #bbbbbb;
	padding: 15px;
	position: absolute;
	bottom: 0;
}

@media (max-width: 980px){
	.navbar-text.pull-right {
		float: none;
		padding-left: 15px;
		padding-right: 15px;
	}
}