/*
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 */

html, body{
  height: 100%;
}
nav {
  .avatar {
    width: 27px;
    padding: 0;
    margin: 0;
    position: relative;
    top: 9px;
  }
  .name {
    img {
      margin-top: 10px;
    }
  }
}
#main {
  border-bottom: 2px solid #dfdfdf;
}
#banner{
  background: url("header-bg.jpg") repeat-x 0px 0px;
  height: 292px;

  h2 {
    margin: 0;
    font-weight: normal;
    // font-size: 3.0em;
    line-height: 1.5;
    color: #fff;
  }
  #callout {
    margin-top: 40px;
    text-align:center;
  }
}

#push, #footer {
  height: 60px;
}
#footer {
  p {
    font-size: 0.8em;
    padding: 0;
    margin: 0;
    a {
      color: #333;
    }
  }
}

.comments ol {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin-bottom: 2em;

    .comment {
      padding-bottom: 1em;
      border-bottom: 1px solid #d0d0d0;
    }

    &:last-child .comment {
      border-bottom: none;
    }
  }

  .avatar {
    float: left;
    width: 50px;

    img {
      width: 50px;
      border-radius: 100px;
      overflow: hidden;
    }
  }

  .comment {
    margin-left: 6em;

    .author {
      font-size: 2em;
      line-height: 2.4em;
    }

    .timestamp {
      font-size: 1.2em;
      font-style: italic;
    }

    p {
      margin-top: 0;
    }
  }
}
