
@import "variables";

.events {
  margin-top: 2em;
  a {
    display: block;
    &:hover {
      color: #000;
      text-decoration: none;
    }
  }
  .event {
    margin: 0;
    padding: 1em 0;
    height: 6.5em;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    &:first-child {
      border-top: 1px solid #bbbbbb;
    }

    &.theirs {
      border-left: 7px solid $aqua-blue;
      &:after {
        border-top: 10px solid transparent;
        border-right: 10px solid $background-color;
        border-bottom: 10px solid transparent;
        position: relative;
        content: "";
        top: -42px;
        left: -7px;
      }
    }
    &.mine {
      border-left: 7px solid $light-blue;
      &:after {
        border-top: 10px solid transparent;
        border-left: 10px solid $light-blue;
        border-bottom: 10px solid transparent;
        position: relative;
        content: "";
        top: -42px;
        left: -4px;
      }
    }
  }
  .schedule {
    padding-left: 0;
    font-size: 4.8em;
    text-align: center;
<<<<<<< HEAD
    color: #000000;
    padding-right: 10px;
=======
    color: #000;
>>>>>>> Event listing is unsemantic and has proper line heights to vertically align elements

    > span {
      display: block;
      &.date {
        font-weight: 700;
        line-height: .8;
        letter-spacing: -0.2ex;
      }
      &.day {
        font-size: 18px;
        font-weight: 300;
        text-transform: uppercase;
        line-height: 28px;
      }
    }
  }
  .description {
<<<<<<< HEAD
    margin: 0;
    border-left: 1px solid #d0d0d0;
    padding-left: 10px;
=======
    border-left: 1px solid #aaa;
>>>>>>> Event listing is unsemantic and has proper line heights to vertically align elements
    a:hover {
      h2 {
        color: #444;
      }
    }
    .title {
      font-size: 30px;
      line-height: 35px;
      list-style-type: none;
    }
    h2.game {
      margin: 0 0 .2em 0;
      padding: 0;
      font-size: 3em;
      line-height: 1;
      color: #000;
    }
    .time {
      font-size: 2em;
      font-weight: 100;
      color: #252525;
    }
  }
<<<<<<< HEAD
  .slots {
    letter-spacing: -0.3ex;
    font-size: 36px;
    line-height: 35px;
    font-weight: 300;
    color: #000;
    text-align: center;
    margin-top: 10px;
  }
  .promote {
    margin: auto;
    width: 48px;
    height: 36px;
    background: url("twitter-icon-lg.png") no-repeat;
    text-indent: -9999px;
    margin-top: 10px;
  }
}

.event-detail{
  margin-top: 20px;
  &.mine {
    border-left: 7px solid $light-blue;
  }
  &.theirs {
    border-left: 7px solid $aqua-blue;   
  }
}

.events, .event-detail {
  h2.with {
    font-weight: 300;
    span.host {
      font-weight: bold;
    }
  }
=======
>>>>>>> Event listing is unsemantic and has proper line heights to vertically align elements
  .host {
    
    a {
      margin: 1em auto;
      width: 50px;
      height: 50px;
      border-radius: 100px;
      overflow: hidden;
<<<<<<< HEAD
      margin-top: 5px;
      margin-left: 10px;
      display: block;
=======
      
>>>>>>> Event listing is unsemantic and has proper line heights to vertically align elements
      img {
        width: 50px;
      }
    }
  }
<<<<<<< HEAD
  .players {
    margin-top: 40px;
    .span5 {
      border-bottom: 1px solid #d0d0d0;
    }
=======
  .slots {
    font-size: 3.6em;
    font-weight: 300;
    line-height: 1.8;
    color: #000;
    text-align: center;
  }
  .promote {
    margin: 1.5em 0;
    width: 48px;
    height: 36px;
    background: url("twitter-icon-lg.png") no-repeat;
    text-indent: -9999px;
>>>>>>> Event listing is unsemantic and has proper line heights to vertically align elements
  }
}