.events {
  .event {
    border-right: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    margin-left: 0px;
    margin-right: 0px;
    &:first-child {
      border-top: 1px solid #d5d5d5;
    }

    &.theirs {
      border-left: 7px solid #62e0bb;
      &:after {
        border-top: 10px solid transparent;
        border-right: 10px solid #ededed;
        border-bottom: 10px solid transparent;
        position: relative;
        content: "";
        top: -42px;
        left: -7px;
      }
    }
    &.mine {
      border-left: 7px solid #72bae4;
      &:after {
        border-top: 10px solid transparent;
        border-left: 10px solid #72bae4;
        border-bottom: 10px solid transparent;
        position: relative;
        content: "";
        top: -42px;
        left: -4px;
      }
    }
  }
  .schedule {
    margin-top: .6em;
    margin-right: -7px;
    margin-left: 0px;
    padding-left: 0;
    text-align: center;
    color: #000;

    > h2.date {
      margin: 0;
      padding: 0;
      line-height: 1.0em;
      letter-spacing: -0.2ex;
      font-size: 3em;
    }
    > h4 {
      &.day {
        margin: .2em 0 0;
        padding: 0;
        font-weight: 300;
        text-transform: uppercase;
        line-height: 0.6em;
      }
    }
  }
  .description {
    margin-top: .6em;
    border-left: 1px solid #d5d5d5;

    &.inline {
      border: none;
    }

    a {
      display: block;
      &:hover {
        h2 {
          color: #444;
        }
      }
    }
    .title {
      list-style-type: none;
    }
    .game {
      line-height: 1.2em;
      margin: 0;
      padding: 0;
      color: #000;
    }
    .time {
      margin: 0.275em 0;
      font-weight: 100;
      color: #252525;
    }
  }

  .host {
    margin-top: 1em;
  }

  .quick-stats {
    margin-top: 1em;
    ul {
      height: 3em;
      li {
        height: auto;
      }
    }
    h2 {
      padding: 0;
      margin: 0;
      .stat {
        display: block;
        background-color: #5db0e0;
        font-size: 18px;
        color: black;
        width: 20px;
        height: 20px;
        border-radius: 40px;
        position: relative;
        bottom: 26px;
        left: 20px;
        margin: 0;
        padding: 0;
        border: 1px solid black;
        text-align: center;
        line-height: 1.3em;
        font-size: 14px;
      }
      i {
        vertical-align: middle;
        line-height: 1em;
      }
    }
  }
}

.event-details{
  #joining, #pending {
    border-bottom: 1px solid #d0d0d0;
  }
  h2 {
    span.with {
      font-weight: 100;
    }
  }
  .player {
    h3 {
      line-height: 0.8em;
    }
    a {
      vertical-align: middle;
    }
  }
  .button {
    &.twitter{
      text-indent: -20px;
      background-image: url('twitter-button-icon.png');
      background-repeat: no-repeat;
      background-position: 50% 60%;
      text-indent: -9999px;
    }
  }
  .without-padding {
    padding-right: 0;
    padding-left: 0;
  }
  .half-padding {
    padding-right: 0.46875em;
    padding-left: 0.46875em;
  }
}