
@import "variables";

.events {
  border-top: 1px solid #bbbbbb;
  a {
    display: block;
    &:hover {
      color: #000;
      text-decoration: none;
    }
  }
  .event {
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    margin: 0;
    padding: 10px 0;
    height: 60px;
    &.theirs {
      border-left: 7px solid $aqua-blue;
      &:after {
        border-top: 10px solid transparent;
        border-right: 10px solid $background-color;
        border-bottom: 10px solid transparent;
        position: relative;
        content: "";
        top: -42px;
        left: -7px;
      }
    }
    &.mine {
      border-left: 7px solid $light-blue;
      &:after {
        border-top: 10px solid transparent;
        border-left: 10px solid $light-blue;
        border-bottom: 10px solid transparent;
        position: relative;
        content: "";
        top: -42px;
        left: -4px;
      }
    }
  }
  .schedule {
    margin: 0;
    padding: 0;
    font-size: 48px;
    line-height: 35px;
    text-align: center;
    color: #000000;

    > span {
      display: block;
      &.date {
        font-weight: 700;
        letter-spacing: -0.2ex;
      }
      &.day {
        font-size: 18px;
        font-weight: 300;
        text-transform: uppercase;
        line-height: 28px;
      }
    }
  }
  .description {
    margin: 0;
    border-left: 1px solid #aaa;
    a:hover {
      h2 {
        color: #444;
      }
    }
    .title {
      font-size: 30px;
      line-height: 35px;
      list-style-type: none;
    }
    h2.game {
      font-family: "Maven Pro";
      padding:0 0 0 10px;
      margin: 0;
      font-weight: 700;
      margin-top: -5px;
      padding-bottom: 5px;
      color: #000;
    }
    .time {
      padding: 0 0 0 10px;
      font-family: "Maven Pro";
      font-size: 20px;
      font-weight: 100;
      color: #252525;
    }
  }
  .slots {
    letter-spacing: -0.3ex;
    font-size: 36px;
    line-height: 35px;
    font-weight: 300;
    color: #000;
    text-align: center;
  }
  .promote {
    margin: auto;
    width: 48px;
    height: 36px;
    background: url("twitter-icon-lg.png") no-repeat;
    text-indent: -9999px;
  }
}

.event-detail{
  &.mine {
    border-left: 7px solid $light-blue;
  }
  &.theirs {
    border-left: 7px solid $aqua-blue;   
  }
}

.events, .event-detail {
  h2.with {
    font-weight: 300;
    span.host {
      font-weight: bold;
    }
  }
  .host {
    a {
      width: 50px;
      height: 50px;
      border-radius: 100px;
      overflow: hidden;
      img {
        width: 50px;
      }
    }
  }
}