h2#game-name {
  margin-bottom: 0;
}
#game-cover {
  margin-top: 1em;
  height: 200px;
  overflow: hidden;
  img {
    width: 100%;
    border-top-left-radius: .4em;
    border-top-right-radius: .4em;
  }
}

ul#game-follow {
  background-color: #dedede;
  border-left: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
  border-right: 1px solid #cdcdcd;
  border-bottom-left-radius:  .4em;
  border-bottom-right-radius:  .4em;
  margin: -2px 0 0 0;

  li {
    height:100%;
    border-left: 1px solid #cdcdcd;
    padding-top: .5em;
    &:first-child {
      border-left: none;
      width: 20%;
    }
    &:last-child {
      width: 80%;
      padding-left: 1em;
    }
    h4 {
      font-size: 1.25em;
      padding: 0;
      margin: 0;
    }
    h5 {
      font-size: 0.750em;
      padding: 0;
      margin: 0;
    }
    a {
      margin: .6em 0;
    }
  }
}