 @-webkit-keyframes fade{
  from {opacity: 0;}
  to  {opacity: 1;}
}

@-webkit-keyframes grow{
  from {height: 0px;}
  to  {height: 300px;}
}

.modal {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: 999;
  background: rgba(0,0,0,0.7);
  -webkit-animation-duration: 1s;
  -webkit-animation-name: fade;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  .modal-inner {
    margin: 2em auto 10em auto;
    padding: 2em;
    width: 50%;
    background: #e8e8e8;
    border: 1px solid #333;

    h3 {
      margin: 0;
    }

    .new_tweet { 
      fieldset { padding: 0; }
      label { display: none; }
    }
  }
  &:target {
    display: table;
    height:100%
  }
}

@media (max-width: 60em) {
  .modal {
    .modal-inner {
      width: 80%;

      textarea {
        width: 100%;
      }
    }
  }
}
