#profile {
  h1 .avatar {
    vertical-align: middle;
  }
  
  #user, #platforms-games {
    margin-top: 1em;
  }
  #user{
    min-height: 385px;
    position: relative;
    #stats {
      border-top: 1px solid #cdcdcd;
      margin: 15px -20px -20px -20px;
      margin: 0;
      padding: 0;
      width: 100%;
      margin-left: -4px;
      li {
        border-left: 1px solid #cdcdcd;

        h2 {
          margin-bottom: 0;
        }

        h5 {
          margin-bottom: 0;
          font-weight: 100;
          font-size: 1em;
        }
      }
      li:first-child {
        border-left: none;
      }
    }
  }
  #platforms, #games {
    ul {
      margin: 0 -10px -20px -10px;
    }
  }
  #platforms {
    min-height: 156px;
  }
  #games {
    ul li p {
      margin-bottom: 0;
      font-size: .7em;
      font-weight: 700;
      text-align: center;
    }
    ul li img {
      border-radius: 5px;
      width: 100%;
    }
  }
  .row.stats {
    position: absolute;
    bottom: 0;
    padding: 0;
    width: 100%;
  }
}