#profile {
  h1 .avatar {
    vertical-align: middle;
  }

  #user, #platforms-games {
    margin-top: 1em;
  }
  #user{
    #stats {
      border-top: 1px solid #cdcdcd;
      margin: 15px -20px -20px -20px;
      padding: 0;
      li {
        border-left: 1px solid #cdcdcd;
        padding: 0 5px 10px 5px;
        h2 {
          margin-bottom: 0;
        }

        h5 {
          margin-bottom: 0;
          font-weight: 100;
          font-size: 1em;
        }
      }
      li:first-child {
        border-left: none;
      }
    }

    .user-bio {
      height: 13.5em;
      overflow: auto;
    }
  }
  #platforms, #games {
    ul {
      margin: 0 -10px -20px -10px;
    }
  }
  #platforms {
    ul {
      li {
        p {
          font-weight: 700;
          img {
            vertical-align: middle;
          }
        }
      }
    }
  }
  #games {
    ul li {
      p {
        margin-bottom: 0;
        font-size: .7em;
        font-weight: 700;
        text-align: center;
        width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      img {
        border-radius: 5px;
        width: 100px;
        height: 100px;
      }
    }
  }
}