.row
  .columns.large-12
    %h1 Four, oh four!
    %h3
      We don't know what you're looking for, exactly.
    %h3
      Perhaps you could try again or just join one of the
      =link_to 'upcoming events', events_path
