.row
  .columns.large-12
    %h1 Something went very wrong.
    %h3 Relax, it will all be ok soon. The proper authorities have been notified and the punishment for this atrocity will be swift and severe.
    %h3
      Why don't you join one of our
      = link_to 'upcoming events', events_path
      while we deal with it this insolence?
