%h1 Something very wrong has happened.
%h3 It will all be OK, though. The proper authorities have been notified and the punishment for this atrocity will be swift and severe.
%h3
  Why don't you join one of our
  = link_to 'upcoming events', events_path
  while we deal with it?